/* You can add global styles to this file, and also import other style files */


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background-image: url("/assets/img/b2.png");
}

.mat-dialog-container {
  background-color: #495057;
  .mat-form-field-flex{
    background-color: #282c30;
    ::placeholder {
      color: #f3f3f3;
      opacity: 1;
    }
  }
}
