<div class="body-container">
  <div class="scan">
    <div class="fingerprint"></div>
    <h3>Scanning...</h3>
  </div>
  <div class="card-container">
    <div class="card-inner">
      <mat-card
        *ngIf="rotatedState == 0"
        class="msg-container tp-box__side tp-box__front"
        style="display: flex; flex-direction: column; height: 100%"
      >
        <mat-card-header style="display: flex; flex-direction: column">
          <mat-card-title>
            <mat-icon
              class="car-icon"
              style="font-size: 8rem; margin-left: 40%"
            >
              directions_car</mat-icon
            >
            <h2 class="tittle-text" style="color: #5ae6ff; font-size: 2.5rem">
              Bienvenido al Estacionamiento
            </h2>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p class="msh-text" style="font-size: 1.8rem; margin-left: 1.6rem">
            ¡Estamos encantados de tenerte aquí!
          </p>
          <!-- <mat-card-subtitle>
            <p style="font-size: 1rem; margin-left: 1.6rem;">Para comenzar, utilice el lector de huellas</p>
          </mat-card-subtitle> -->
        </mat-card-content>

        <mat-card-actions
          style="
            display: flex;
            flex-direction: column;
            margin: auto 2rem 10% 1.6rem;
          "
        >
          <div
            class="login-info"
            style="display: flex; flex-direction: column; gap: 8px"
          >
            <!-- <mat-card-subtitle>¿Ya eres un usuario pensionado o deseas convertirte en uno?</mat-card-subtitle> -->
            <div class="buttons" style="display: flex; gap: 10%">
              <button
                (click)="rotatedState = 1"
                color="primary"
                mat-raised-button
              >
                Ingresa
              </button>
              <!-- <button (click)="openDialog(); creatingUser = 1" color="accent"
                      mat-raised-button>Sign Up
              </button> -->
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card
        *ngIf="rotatedState == 1"
        class="msg-container tp-box__side tp-box__back"
        style="display: flex; flex-direction: column; height: 100%"
      >
        <mat-card-header style="display: flex; flex-direction: column">
          <mat-card-title>
            <mat-icon
              class="car-icon"
              style="font-size: 8rem; margin-left: 40%"
            >
              directions_car</mat-icon
            >
            <h2 class="tittle-text" style="color: #5ae6ff; font-size: 2.5rem">
              Bienvenido al Estacionamiento
            </h2>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p style="font-size: 1rem; margin-left: 1.6rem">
            Por favor proporcione sus credenciales
          </p>
        </mat-card-content>

        <mat-card-actions
          style="
            display: flex;
            flex-direction: column;
            margin: auto 2rem 10% 1.6rem;
          "
        >
          <div
            class="login-info"
            style="display: flex; flex-direction: column; gap: 8px"
          >
            <mat-form-field appearance="fill">
              <mat-label>Introduce tu email o tu nombre de usuario</mat-label>
              <input matInput placeholder="pat@example.com" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Ingresa tu contraseña</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                matInput
                placeholder="*********"
                required
              />
              <button
                (click)="hide = !hide"
                [attr.aria-label]="hide ? 'Show password' : 'Hide password'"
                [attr.aria-pressed]="hide"
                mat-icon-button
                matSuffix
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <button (click)="rotatedState = 0" color="warn" mat-raised-button>
              <mat-icon>arrow_back</mat-icon>
              Back
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card
        *ngIf="rotatedState == 2"
        class="msg-container tp-box__side tp-box__back"
        style="display: flex; flex-direction: column; height: 100%"
      >
        <mat-card-header style="display: flex; flex-direction: column">
          <mat-card-title>
            <mat-icon
              class="car-icon"
              style="font-size: 8rem; margin-left: 40%"
            >
              directions_car</mat-icon
            >
            <h2 class="tittle-text" style="color: #5ae6ff; font-size: 2.5rem">
              Bienvenido al Estacionamiento
            </h2>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p class="msh-text" style="font-size: 1.8rem; margin-left: 1.6rem">
            Crear un nuevo usuario pensionado
          </p>
          <mat-card-subtitle>
            <p style="font-size: 1rem; margin-left: 1.6rem">
              Para comenzar por favor use el lector de huellas
            </p>
          </mat-card-subtitle>

          <div class="chip-container">
            <mat-chip-list class="chip-list">
              <mat-chip
                *ngIf="!localStorage.getItem('fingerprint')"
                style="background-color: #fa5252"
                >Esperado una huella válida</mat-chip
              >
              <mat-chip
                *ngIf="localStorage.getItem('fingerprint')"
                style="background-color: forestgreen"
                >Confirmado</mat-chip
              >
            </mat-chip-list>
          </div>
        </mat-card-content>

        <mat-card-actions
          style="
            display: flex;
            flex-direction: column;
            margin: auto 2rem 10% 1.6rem;
          "
        >
          <div
            class="login-info"
            style="display: flex; flex-direction: column; gap: 8px"
          >
            <mat-card-subtitle
              >Por favor use el lector de huellas para crear su
              usuario</mat-card-subtitle
            >
            <div class="buttons" style="display: flex; gap: 10%">
              <button
                (click)="rotatedState = 0; creatingUser = 0"
                color="warn"
                mat-raised-button
              >
                <mat-icon>arrow_back</mat-icon>
                Back
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
