<div class="container-main">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Bienvenido al estacionamiento</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card class="reloj-card">
        <div class="clock-container">
          <app-clock></app-clock>
        </div>
      </mat-card>
      <mat-card class="data-card">
        <mat-card class="data-card-card">
          <p>Fecha de entrada :</p>
          <p class="dataFromJson">{{ fechaEntrada }}</p></mat-card>
        <mat-card class="data-card-card">
          <p>Hora de entrada :</p>
          <p class="dataFromJson">{{ horaEntrada }}</p></mat-card>
        <button (click)="deleteLocalStorage()" [appGoTo]="'/home'"
                color="primary" mat-flat-button>Continuar
        </button>
      </mat-card>
    </mat-card-content>
    <mat-card-footer>
      <small></small>
    </mat-card-footer>
  </mat-card>
</div>
