<div class="container-main">
  <mat-card class="welcome-dash">
    <mat-card-header>
      <mat-card-title>
        <h2>
          <mat-icon #icon>person_pin</mat-icon>
          Bienvenido de vuelta {{loginusr}}
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list class="mat-chip-list-stacked chip-container" aria-label="Color selection">
        <h2>Autos asignados</h2>
        <div *ngFor="let id of idcars" class="chip-list-container">
          <mat-chip selected class="chip-id" color="accent">{{ id }}</mat-chip>
          <button mat-raised-button class="button-chip-id" color="warn">Pagar</button>
        </div>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <mat-divider class="footer-divider"></mat-divider>
      <button [appGoTo]="'/dashboard/active-park'" color="warn" mat-button>Ver mas</button>
      <button color="accent" mat-button (click)="showCarPlatePrompt()">Añadir nuevo</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="payment-dash">
    <mat-card-content>
      <div class="clock-container">
        <app-clock></app-clock>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [appGoTo]="'/dashboard/active-park'" color="primary" mat-flat-button>Gestionar autos pensionados</button>
      <button [appGoTo]="'/dashboard/payment-history'" color="primary" mat-flat-button>Ver el historial de pagos
      </button>
      <button *ngIf="typeUsr==1" [appGoTo]="'/dashboard/payment-history'" color="primary"
              mat-flat-button>Gestionar usuarios
      </button>
      <button *ngIf="typeUsr==1" [appGoTo]="'/dashboard/payment-history'" color="primary"
              mat-flat-button>Ver historial de transacciones
      </button>
      <button color="accent" mat-button>Solicitar asistencia</button>
    </mat-card-actions>
    <mat-card-footer>
      <small></small>
    </mat-card-footer>
  </mat-card>
</div>
