<div class="container-main">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>
        <h2 style="font-size: x-large">Bienvenido devuelta</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card class="data-card">
        <mat-card class="data-card-card"><p>Fecha de entrada : </p>
          <p class="dataFromJson">{{ fechaEntrada }}</p>
        </mat-card>
        <mat-card class="data-card-card"><p>Hora de entrada : </p>
          <p class="dataFromJson">{{ horaEntrada }}</p>
        </mat-card>
        <mat-card class="data-card-card"><p>Tiempo de uso: </p>
          <p class="dataFromJson">{{ tiempoUso }}</p>
        </mat-card>
        <button (click)="deleteLocalStorage()" [appGoTo]="'/home'"
                color="warn" mat-button>regresar
        </button>
      </mat-card>
      <mat-card class="reloj-card">
        <div class="clock-container">
          <app-clock></app-clock>
        </div>
        <mat-card>SubTotal: <p class="dataFromJson">{{ subtotal }} MNX</p></mat-card>
        <mat-card>IVA: <p class="dataFromJson">16%</p></mat-card>
        <mat-card>TOTAL: <p class="dataFromJson">{{ total }} MNX</p></mat-card>
        <button [appGoTo]="'/home'" color="primary" mat-flat-button>Continuar con el pago</button>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
    <mat-card-footer>
      <small></small>
    </mat-card-footer>
  </mat-card>
</div>
