.body {
  width: calc(100% - 5rem);
  height: 100vh;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  padding: 3rem;
  color: #fff;
  background-image: url("/assets/img/b2.png");
  background-size: cover;
}

.body-trimmed {
  width: calc(100% - 16.56rem);
  margin-left: 10.5625rem;
}

.body-md-screen {
  width: (calc(100% - 5rem));
  margin-left: 5rem;
}

